<div class="js-points-summary">
  <h3><div class="js-point-count"><%= pluralize(post.points, 'point')%></div></h3>
  <small>
    <div class="js-up-vote-count"><%= pluralize(post.up_votes, 'up vote') %>,</div>
    <div class="js-down-vote-count"><%= pluralize(post.down_votes, 'down vote') %></div>
  </small>
</div